$header1: 2.5rem;
$header2: 4rem;
$header3: 2.8rem;
$header4: 2rem;
$header5: 1.6rem;
$text: 2.4rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$bg-color: #154353;
$grey-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@import 'global';
@import 'intro';
@import 'projects';
@import 'contact';
@import 'footer';

@media screen and (max-width: 1335px) {
    html {
        font-size: 51%;
    }
    .splash {
        display: none;
    }
    svg {
        width: 80%;
    }
    nav {
        width: 100%;
    }
}

@media screen and (max-width: 725px) {
    html {
        font-size: 45%;
    }
    .main-head{
        width: 100%;
    }
    nav {
        margin: 2rem;
        .logo {
            @include flex(center, center, column);
            flex: 1 1 30rem;
            margin-top: 2rem;
        }
        ul {
            flex: 1 1 71rem;
            margin: 2rem 0rem;
        }
    }
    .intro-images {
        text-align: center;
    }
    .intro-text {
        margin-top: 5rem;
        text-align: center;
    }
    .intro-social {
        @include flex(center, center, row);
        a {
            margin: 2rem;
        }
    }
    svg{
        height: 60%;
    }
    .travelly,.elena {
        flex: 1 1 50rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
}