* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
button {
    color: white;
    background: rgb(69, 102, 148);
    padding: 2.2rem 6.2rem;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
button:hover {
    background: rgb(45, 64, 91);
}

/* Header Section */
.main-head {
    background: rgb(21, 30, 45);
    color: white;
    position: sticky;
    top: 0%;
    z-index: 3;
}
nav {
    display: flex;
    min-height: 10vh;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
}
nav h1 {
    flex: 2 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
}
nav ul {
    flex: 1 1 40rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav ul a {
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
}
nav ul a:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.hero {
    min-height: 90vh;
    background: linear-gradient(rgb(0, 0, 0, 0.7), transparent), url(./img/landing-page.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h2 {
    font-size: 5rem;
    font-weight: 600;
}
.hero h3 {
    font-size: 3.2rem;
    font-weight: 400;
    padding: 5rem;
    margin-top: 0.5rem;
}

/* Location Section */
.location {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(rgb(0, 0, 0, 0.6), transparent), url(./img/new-york-page.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.location-head {
    width: 90%;
    margin: auto;
}
.location-head h2 {
    padding: 1rem 0rem;
    font-size: 5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.6rem;
    text-underline-position: under;
    font-weight: 600;
}
.location-head h3 {
    font-size: 3.2rem;
    padding: 4rem 0rem;
    font-weight: normal;
    background: -webkit-linear-gradient(#131c27, #663b34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cloud {
    position: absolute;
    top: 0%;
    right: 0%;
}
#cloud1 {
    animation: cloudAnimation 3s infinite alternate ease-in-out;
}
#cloud2 {
    top: 20%;
    z-index: -1;
    opacity: 0.3;
    animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
    0% {
        transform: translate(10%, -10%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}


/* Benefits Section */
.benefits {
    min-height: 100vh;
}
.benefits-head {
    background: #343c44;
    padding: 3rem;
}
.benefits-text {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.benefits-text h2 {
    font-size: 5rem;
}
.benefits-text h3 {
    font-size: 3.2rem;
    padding: 1rem;
    font-weight: normal;
}
.benefits-cards {
    min-height: 70vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cards {
    min-height: 40vh;
    flex: 1 1 25rem;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card-icon {
    background: #273a4e;
}
.cards img {
    max-width: 15%;
    margin: 2rem;
}
.cards h4 {
    font-size: 2.8rem;
}
.cards p {
    font-size: 2rem;
}
.cards h4, .cards p {
    padding: 2rem;
    line-height: 1.8;
}

/* Contact Section */

.contact {
    min-height: 100vh;
    background: linear-gradient(rgb(0, 0, 0, 0.5), transparent), url(./img/contact-mountain.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-head {
    background: rgba(19, 28, 39, 0.8);
    width: 60%;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.contact-head h2 {
    font-size: 6rem;
    padding: 4rem;
}
.name-form,.email-form {
    padding: 3rem;
    text-align: center;
}
.contact-head label {
    margin: 0rem 3rem;
    font-size: 2rem;
}
.contact-head input {
    padding: 1rem 3rem;
    font-size: 2rem;
}
.contact-head button {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2rem;
    margin-top: 8rem;
}

/* Footer Section */
footer {
    background: #3e464f;
    color: white;
    padding: 2.6rem;
}
.footer-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}
.footer-wrapper h5 {
    flex: 1;
    font-size: 3rem;
}
.footer-wrapper ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* Responsive Section */